<div class="container">
  <section>
    <div class="col-xs-4 list-group">
      <div class="list-group-item active">
        Number of Players
      </div>
      <div class="list-group-item"
           ng-bind="vm.totalPlayers">        
      </div>
      <div class="list-group-item">
        <button ng-click="vm.addRemovePlayer( -1 )"
                class="btn btn-default">
          Remove -
        </button>
        <button ng-click="vm.addRemovePlayer( 1 )"
                class="btn btn-default">
          Add ✚
        </button>
        <button ng-click="vm.goToRoom()"
                class="btn btn-success">
          Start
        </button>
      </div>
    </div>
  </section>
</div>
