<div>
  <section>
    <div class="players-box">
      <div class="players-box title">
        Number of Players
      </div>
      <div class="players-box number"
           ng-bind="vm.totalPlayers">        
      </div>
      <div class="players-box options">
        <button ng-click="vm.addRemovePlayer( 1 )">
          +
        </button>
        <button ng-click="vm.addRemovePlayer( -1 )">
          -
        </button>
        <button ng-click="vm.goToRoom()">
          Start
        </button>
      </div>
    </div>
  </section>
</div>
