<div ng-hide="vm.readyToGo"
     class="container">
  <div>
    <h2>Set your wager</h2>
  </div>
  
  <!-- wager box -->
  <div class="list-group col-xs-4">
    <div class="list-group-item active">
      <h3 class="list-group-item-heading">
        {{ vm.currentGambler.name }}
      </h3>
      <h3 class="list-group-item-text">
        Total money: 
        <span class="label label-default">
          ${{ vm.currentGambler.money - vm.wager }}
        </span>
      </h3>
    </div>
    <div class="list-group-item">
      <div class="input-group">
        <span class="input-group-addon"
              id="sizing-addon1">
          $
        </span>
        <input type="text"
               class="form-control"
               ng-model="vm.wager">
      </div>
    </div>
    <div class="list-group-item">
      <button ng-click="vm.setWager( vm.currentGambler.id, vm.wager )"
                class="btn btn-success btn-lg">
        Ok
      </button>
    </div>
  </div>
</div>

<div ng-show="vm.readyToGo">
  <section>
    <!-- Actual Player Box -->
    <div class="actual-player">
      <span class="actual-player name"
            ng-bind="vm.currentPlayer.name">
      </span>
      <span class="macro-cards"
           ng-repeat="card in vm.currentPlayer.hand">
        {{ card.name }}{{ card.suit }}
      </span>
      <div actual-player-info>
        <span>
          Wager: {{ vm.currentPlayer.wager }}
        </span>
        <span>
          /
        </span>
        <span>
          Total: {{ vm.currentPlayer.money }}
        </span>
      </div>
      <div>
        <button ng-click="vm.playerAction( vm.currentPlayer, 'hit' )">
          Hit
        </button>
        <button ng-click="vm.playerAction( vm.currentPlayer, 'stand' )">
          Stand
        </button>
      </div>
      <div>
        <span class="actual-player-score">
          Score: {{ vm.currentPlayer.score }}          
        </span>
      </div>
    </div>
  </section>
  
  <aside>
    <!-- Dealer -->
    <div class="standby-player-box">
      <span>Dealer</span>
      <div class="standby-player-info">
        <div>
          <span class="micro-cards">
            {{ vm.dealerData.hand[ 0 ].name }}{{ vm.dealerData.hand[ 0 ].suit }}
          </span>
          <span class="micro-cards">
            ☒
          </span>
        </div>
      </div>
    </div>
    <!-- All Players -->
    <div class="standby-player-box"
         ng-repeat="player in vm.playersData">
      <span ng-bind="player.name"></span>
      <span> | Score: {{ player.score }}</span>
      <div class="standby-player-info">
        <div>
          <span class="micro-cards"
                ng-repeat="card in player.hand">
            {{ card.name }}{{ card.suit }}
          </span>
        </div>
        <div>
          <strong>$</strong>
          <span ng-bind="player.wager">
          </span>
           /
          <strong> $</strong>
          <span ng-bind="player.money">
          </span>
        </div>
      </div>
    </div>

    <!-- Quit -->
    <div class="quit"
         ng-click="vm.quit()">
      Quit ✖
    </div>
  </aside>

</div>
