<div ng-hide="vm.readyToGo">
  <h2>Set your wager</h2>
  
  <!-- wager box -->
  <div class="wager-box">
    <div class="wager-title">
      {{ vm.currentGambler.name }} | Total money: $ {{ vm.currentGambler.money - vm.wager }}
    </div>
    <p>
      <input type="text"
             ng-model="vm.wager">
      <button ng-click="vm.setWager( vm.currentGambler.id, vm.wager )">Ok</button>
    </p>
  </div>
</div>

<div ng-show="vm.readyToGo">
  <section>
    <!-- Actual Player Box -->
    <div class="actual-player">
      <span class="actual-player name"
            ng-bind="vm.currentPlayer.name">
      </span>
      <div class="macro-cards"
           ng-repeat="card in vm.currentPlayer.hand">
        {{ card.name }}{{ card.suit }}
      </div>
      <div actual-player-info>
        <span>
          Wager: {{ vm.currentPlayer.wager }}
        </span>
        <span>
          /
        </span>
        <span>
          Total: {{ vm.currentPlayer.money }}
        </span>
      </div>
      <div>
        <button ng-click="vm.playerAction( vm.currentPlayer, 'hit' )">
          Hit
        </button>
        <button ng-click="vm.playerAction( vm.currentPlayer, 'stand' )">
          Stand
        </button>
      </div>
    </div>
  </section>
  
  <aside>
    <!-- Dealer -->
    <div class="standby-player-box">
      <span>Dealer</span>
      <div class="standby-player-info">
        <div>
          <span class="micro-cards">
            {{ vm.dealerData.hand[ 0 ].name }}{{ vm.dealerData.hand[ 0 ].suit }}
          </span>
          <span class="micro-cards">
            ☒
          </span>
        </div>
      </div>
    </div>
    <!-- All Players -->
    <div class="standby-player-box"
         ng-repeat="player in vm.playersData">
      <span ng-bind="player.name"></span>
      <div class="standby-player-info">
        <div>
          <span class="micro-cards"
                ng-repeat="card in player.hand">
            {{ card.name }}{{ card.suit }}
          </span>
        </div>
        <div>
          <strong>$</strong>
          <span ng-bind="player.wager">
          </span>
           /
          <strong> $</strong>
          <span ng-bind="player.money">
          </span>
        </div>
      </div>
    </div>

    <!-- Quit -->
    <div class="quit"
         ng-click="vm.quit()">
      Quit ✖
    </div>
  </aside>

</div>
